@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full:before {
    border-radius: 0.5rem;
    opacity: 0.6;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}